---
---
@import 'typography';

/* general aesthetics */
$base-font-size: 12px;
$line-height: 1.5em;

html {
  font-size: $base-font-size;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 60em;
  font-family: "Roboto", sans-serif;

  @media screen {
    line-height: $line-height;
  }
}

h1, h2, h3, h4 {
  margin: .5rem 0;
}

h1, h2, h3 {
  display: flex;

  ::after {
    flex-grow: 1;
    content: "";
    border-top: 1px solid grey;
    margin: 1ex 0 1ex 1ex;
  }
}

p, ul, ol {
  margin: .3rem 0;

  ul, ol {
    margin: 0;
  }
}

svg.icon {
  height: $line-height;
}