@import 'base';
@import 'main';

.post-list {
  ul {
    list-style: none;
    padding-inline-start: 1em;

    li {
      display: flex;
      flex-direction: row;
      gap: .5em;

      .post-date {
        flex: 0 0 4.5em;
        text-align: right;
      }
    }
  }
}
