@import 'typography';

html {
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 960px;
  min-height: 80vh;
  margin: 0 auto;

  > * {
    text-align: center;
    padding: 7px;
  }
}

.big-icon > * {
  width: 70vw;
  max-width: 10em;
}

.links button {
  display: inline-block;
  font-size: 0.7em;
  margin: 0 0.2em;
  width: 8em;
  padding: .75em 2em;
  text-align: center;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #aaa;

  &:hover, &:focus {
    border-color: #444;
  }
}
