@use 'base';

main {
  position: relative;
  line-height: 1.5;
  max-width: min(35em, 90vw);
  margin: 0 auto;

  // Keep page contents centered when scrollbar is shown
  padding-left: calc(100vw - 100%);

  hr {
    margin: 1em 0;
    border: 0;
    border-top: 1px solid #dddddd;
  }

  & > p:first-of-type {
    margin-top: .5rem;
    color: #777;
  }
}

h1, h2, h3, h4 {
  margin-bottom: .5rem;
}
