@import 'base';

// todo - subtract 1em for mobile

main {
  position: relative;
  line-height: 1.5;
  max-width: 35em;
  margin: 0 auto;
  padding-left: calc(100vw - 100%);

  hr {
    margin: 2.5em 0 3em;
    border: 0;
    border-top: 1px solid #dddddd;

    &:last-child {
        border-top: 0;
    }
  }
}
