@import 'typography';

@mixin centered-column {
  width: calc(100% - 2em);
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
}

.site-header {
  background-color: #eee;
  
  .wrapper {
    @include centered-column;
    display: flex;
    justify-content: space-between;

    * {
      height: 2em;
      line-height: 2em;
    }

    p {
      margin: 0;
    }
  }
}

.page-content {
  @include centered-column;
  position: relative;
  line-height: 1.5;

  hr {
    margin: 2.5em 0 3em;
    border: 0;
    border-top: 1px solid #dddddd;

    &:last-child {
        border-top: 0;
    }
  }
}
