@import 'base';

/* general aesthetics */
$base-font-size: 14px;
$line-height: 1.5em;
$space-width: 0.25em;

main {
  font-size: $base-font-size;
  margin: 0 auto;
  padding: 0;
  max-width: 55em;
  font-family: "Roboto", sans-serif;
  line-height: $line-height;

  @media print {
    line-height: calc(1.3 / 1.5 * #{$line-height});
  }
}

h1, h2, h3, h4 {
  margin-top: .8rem;
  margin-bottom: .4rem;
  line-height: $line-height;

  @media print {
    line-height: calc(1.2 / 1.5 * #{$line-height});
  }
}

h1, h2, h3 {
  display: flex;

  // `display: flex` causes leading and trailing whitespace of elements to get
  // trimmed, which in the case of `<a>text with link</a> description` gets
  // rendered as "text with linkdescription", which is undesirable. 0.25em is
  // the common width of " ", which fixes this (" " has font-dependent width)
  gap: $space-width;

  &::after {
    flex-grow: 1;
    content: "";
    border-top: 1px solid grey;
    margin: 1.3ex 0 0 calc(0.7ex - #{$space-width});
  }
}

p, ul, ol {
  margin: .3rem 0;

  ul, ol {
    margin: 0;
  }
}

svg.icon {
  height: $line-height;
  vertical-align: top;
}
