/* general aesthetics */

body {
    margin: 0 auto;
    padding: 1em 0;
    max-width: 60em;
    font-family: "Georgia", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover {
    color: #e81c4f;
}

/* responsive adjustment */

body > * {
    background-color: white;
}

header, aside {
    position: fixed;
    text-align: center;
}

header {
    top: 0;
    height: 5ex;
    padding: 2ex 0 1ex;
    z-index: 2;
}

aside {
    top: 6ex;
    padding: 0;
    z-index: 0;
}

main {
    position: relative;
    padding: 0 1em;
    z-index: 1;
}

@media (max-width: 40em) {
    /* rules applied when less wide than 40em */

    header, aside { 
        width: 100%;
    }

    main {
        top: 30ex;
    }
}

@media (min-width: 40em) {
    /* rules applied when wider than 40em */

    header, aside {
        width: 15em;
    }

    main {
        margin: 0 0 0 15em;
    }
}

/* resume formatting */

h2 {
    margin: 0;
    padding: 0;
}

h3 {
    position: relative;
    width: 100%;
    margin: 0 0 0.5em;
    z-index: 1;
    font-variant: small-caps;
    overflow: hidden;
}

h3::after {
    position: absolute;
    margin: 0 0.5em;
    width: 100%;
    height: 2px;
    top: 50%;
    content: "";
    background-color: black;
    z-index: 0;
}

article {
    padding: 0 0 1em;
}

.title, .date, .subtitle, .description {
    margin: 0;
    padding: 0;
}

.title {
    float: left;
}

.date {
    float: right;
}

.subtitle {
    clear: both;
    font-style: italic;
    font-size: 95%;
}

.description {
    padding: 0 0 0 2em;
}
