@import url('https://fonts.googleapis.com/css?family=Roboto');

/* adobe color wheel: #e81c50 #c672c8 #743ba3 #10008c #3a6ad8 */

html {
  font-family: "Roboto", sans-serif;
}
  
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #3a6ad8;

  &:visited {
    color: #743ba3;
  }

  &:hover {
    color: #e81c50;
  }

  &:active {
    opacity: 0.5;
  }
}
